table#board.center-table {
    margin: 0 auto !important;
    float: none !important;
}

table#board td.field {
    border: 1px solid #000;
    width: 3em;
    height: 3em;
}

table#board td.ship {
    background-color: #818181;
}

table#board td.hit, table#board td.hitnsunk {
    background-color: #f36420;
}

table#board td.miss {
    background-color: #ecb0cb;
}

div.winner {
    font-size: 30px;
    color: red;
}

.hidden {
    display: none;
}