table#board td.field {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

table#board td.ship {
    background-color: #818181;
}

table#board td.hit {
    background-color: #ecb0cb;
}

table#board td.ship.hit {
    background-color: #f36420;
}
