table#board.center-table {
    margin: 0 auto !important;
    float: none !important;
}

table#board td.field {
    border: 1px solid #000;
    width: 3em;
    height: 3em;
}

table#board td.ship {
    background-color: #818181;
}

table#board td.hit.player1, table#board td.hitnsunk.player1 {
    background-color: red;
}

table#board td.hit.player2, table#board td.hitnsunk.player2 {
    background-color: blue;
}

table#board td.miss {
    background-color: purple;
}

div.winner {
    font-size: 30px;
    color: red;
}

.hidden {
    display: none;
}